.main {
    background-color: #1F2937;
    height: 500px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: white;
}

#logo {
    display: flex;
    align-items: center;
    margin-left: 150px;
    color: white;
    font-size: x-large;
}

#submain {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

#place_pic {
    height: 200px;
    width: 400px;
    background-color: rgba(223, 226, 229, 0.861);
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web_info {
    color: white;
    font-size: large;
    margin-left: 150px;
    height: 400px;
}

#awesome {
    font-size: xx-large;
}

#sign {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    background-color: #3882F6;
}

.middle {
    background-color: rgba(255, 255, 255, 0.908);
    /*height: 400px;*/
    margin: auto;
}

.text_area {
    background-color: #E5E7EB;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    width: 750px;
    font-style: italic;
    margin-left: 200px;
    font-weight: 36px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.thor {
    /*background-color: blue;*/
    text-align: right;
    font-weight: bold;
    font-size: 26px;
}

#info_text {
    text-align: center;
    font-style: bold;
    font-size: 36px;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px;
    margin: 20px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.box_with_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.box_session {
    display: flex;
    justify-content: center;
}

.text_below_box {
    margin-bottom: 50px;
    max-width: 150px;
    text-align: center;
    margin-left: 20px;
}

#blue_section {
    height: 400px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign_and_button {
    width: 1000px;
    height: 200px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call_action_section {
    /* background-color: rgb(6, 64, 5);*/
    text-align: left;
    margin-left: 100px;
}

.sign_up {
    /*background-color: #ad0606;*/
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    color: #E5E7EB;
}

.call {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: beige;
    font-weight: 36px;
    font-style: bold;
}

.footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: medium;
}